/*
AUTHOR: ALEX COLLYER (alex.collyer@getsimpli.co.uk)
*/

/*  Layout  */
.wd-10 {width: 10%;}
.wd-25 {width: 25%;}
.wd-50 {width: 50%;}
.wd-75 {width: 75%;}
.wd-85 {width: 85%;}
.wd-95 {width: 95%;}
.wd-100 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*  Float  */
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.center-all {
    flex: none;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.center {
    margin: 0px auto 0px auto;
}