/*
AUTHOR: ALEX COLLYER (alex.collyer@getsimpli.co.uk)

(yes... I know it's a mess)
*/

.navbar-side-fixed {
    height: 100%;
    width: 300px;
    max-width: 300px;
    position: fixed;
    /*z-index: 1;*/
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 120px;
}
.navbar-sidebar-link-solo {
    padding: 2px 8px 2px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #4d4e50;
    transition: 0.2s ease all;
    float: left;
    width: 166px;
}

.navbar-sidebar-dropdown-button {
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 6px;
    margin: 8px 2px 8px 2px;
    background-color: #f0f3f3;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    -moz-transition: background-color .2s;
}
.navbar-sidebar-dropdown-button:hover {
    background-color: #a3a5a5;
    transition: background-color .2s;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    -moz-transition: background-color .2s;
}
.navbar-sidebar-dropdown-button-nested {
    font-weight: 600;
    font-size: 18px;
    transition: opacity .2s;
    border: none;
    background-color: white;
    padding: 0px 0px 0px 2px;
}
.navbar-sidebar-dropdown-button-nested:hover {
    opacity: 0.6;
    transition: opacity .2s;
}

.navbar-sidebar-item-container {
    display: block;
    position: relative;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}
.navbar-sidebar-item-container .navbar-sidebar-sublink {
    list-style-type: none;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    color: #181a1a;
}
.navbar-sidebar-item-container li {
    padding: 0;
    margin: 8px 2px 8px 2px;
    transition: opacity .2s;
}
.navbar-sidebar-item-container:hover li:hover {
    opacity: 0.6;
    transition: opacity .2s;
}
.navbar-sidebar-item-container .closed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.25, 0.01, 0.33, 0.95);
}
.navbar-sidebar-item-container .open {
    transition: max-height 1s cubic-bezier(0.25, 0.01, 0.33, 0.95) !important;
    max-height: 1000px !important;
}
.navbar-sidebar-dropdown-container {
    list-style: none;
    list-style-type: none;
    padding: 0px 0px 0px 18px;
}

@media screen and (max-width: 720px) {
    .navbar-side-fixed {
        visibility: hidden;
    }
}


/* NAVBAR CORE */
.navbar {
    width: 100%;
    height: 85px;
    margin-bottom: 25px;
    position: fixed;
    top: 0;
    transition: 0.2s ease all;
    z-index: 9999999;
    overflow: visible;
}
.navbar-transparent {
    width: 100%;
    height: 85px;
    margin-bottom: 25px;
    position: fixed;
    top: 0;
    transition: 0.2s ease all;
    z-index: 9999999;
    overflow: visible;
}
.navbar-heading {
    padding-left: 50px;
    padding-right: 50px;
}
.navbar-font-light {
    color: white;
}
.navbar-font-dark {
    color: black;
}

/* MOBILE NAVBAR */
.navbar-mobile {
    transform: scale(1, 0);
    position: absolute;
    font-size: 32px;
    line-height: 32px;
    z-index: 99;
    text-decoration: none;
    transition: 0.2s ease all;
    transform-origin: top center;
    border-bottom: 1px solid #181a1a;
    margin-top: 85px;
}
.navbar-mobile-dark {
    float:left;
    text-align: center;
    background-color: #181a1a;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 30px 0px 30px 0px;
    z-index: 100;
    transition: 0.2s ease all;
}
.navbar-mobile-dark:hover {
    transition: 0.2s;
    background-color: #242525;
}
.navbar-mobile-light {
    float:left;
    text-align: center;
    background-color: #f0f3f3;
    text-decoration: none;
    color: #181a1a;
    cursor: pointer;
    padding: 30px 0px 30px 0px;
    z-index: 100;
    transition: 0.2s ease all;
}
.navbar-mobile-light:hover {
    transition: 0.2s;
    background-color: #9b9da0;
}
.navbar-mobile-icon {
    display: flex;
    float: left;
    width: 65px;
    transition: 0.2s linear;
}
.navbar-mobile-icon img {
    width: 40px;
    height: auto;
    transition: 0.2s ease all;
}

@media screen and (max-width: 300px) { /* Exceptionally small devices */

}

@media screen and (max-width: 720px) { /* Standard mobile devices */
    .navbar-mobile {
        position: fixed;
    }
    .navbar-mobile-icon {
        padding: 22px 10px 22px 14px !important;
    }
    .navbar-mobile-icon img {
        width: 40px !important;
    }
}

@media screen and (min-width: 721px) {
    .navbar-mobile {
        display: none;
    }
    .navbar-mobile-icon {
        display: none;
    }
}

/* ICON */
.navbar-icon {
    margin-top: 18px;
    margin-left: 30px;
    margin-right: 10px;
    transition: 0.2s ease all;
}
.navbar-icon-image {
    width: 40px;
    height: 40px;
    transition: 0.2s ease all;
}

/* LINKS */
.navbar-links {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
    transition: 0.2s ease all;
}
.navbar-links-mobile {
    visibility: hidden;

}

.navbar-button-center-y {
    margin-top: 22px;
}

/* TITLE */
.navbar-title {
    float: left;
    font-size: 32px;
    padding-top: 20px;
    transition: 0.2s ease all;
}

/* NAVBAR ITEM BG COLORS */
.navbar-item {
    height: 85px;
    padding: 28px 20px 0px 20px;
    font-size: 18px;
    display: flex; 
    text-decoration: none;
    color: #181a1a;
    transition: 0.2s;
}
.navbar-color-purple .navbar-item:hover {
    background-color: var(--color-theme-purple-dark);
    transition: 0.15s;
}
.navbar-color-purpPink .navbar-item:hover {
    background-color: var(--color-theme-purpPink-dark);
    transition: 0.15s;
}
.navbar-color-blue .navbar-item:hover {
    background-color: var(--color-theme-blue-dark);
    transition: 0.15s;
}
.navbar-color-green .navbar-item:hover {
    background-color: var(--color-theme-green-dark);
    transition: 0.15s;
}
.navbar-color-red .navbar-item:hover {
    background-color: var(--color-theme-red-dark);
    transition: 0.15s;
}
.navbar-color-dark .navbar-item:hover {
    background-color: var(--color-theme-dark-light);
    transition: 0.15s;
}
.navbar-color-transparent-white .navbar-item:hover {
    background-color: var(--color-transparent-hover);
    transition: 0.15s;
}
.navbar-color-transparent-purple .navbar-item:hover {
    background-color: var(--color-transparent-hover);
    transition: 0.15s;
}
.navbar-color-transparent-blue .navbar-item:hover {
    background-color: var(--color-transparent-hover);
    transition: 0.15s;
}
.navbar-color-transparent-green .navbar-item:hover {
    background-color: var(--color-transparent-hover);
    transition: 0.15s;
}
.navbar-color-transparent-red .navbar-item:hover {
    background-color: var(--color-transparent-hover);
    transition: 0.15s;
}
.navbar-color-transparent-dark .navbar-item:hover {
    background-color: var(--color-transparent-hover);
    transition: 0.15s;
}

.navbar-color-transparent-white-fill .navbar-item:hover {
    background-color: var(--color-transparent-hover);
    transition: 0.15s;
}
.navbar-color-transparent-purple-fill .navbar-item:hover {
    background-color: var(--color-theme-purple-dark);
    transition: 0.15s;
}
.navbar-color-transparent-blue-fill .navbar-item:hover {
    background-color: var(--color-theme-blue-dark);
    transition: 0.15s;
}
.navbar-color-transparent-green-fill .navbar-item:hover {
    background-color: var(--color-theme-green-dark);
    transition: 0.15s;
}
.navbar-color-transparent-red-fill .navbar-item:hover {
    background-color: var(--color-theme-red-dark);
    transition: 0.15s;
}
.navbar-color-transparent-dark-fill .navbar-item:hover {
    background-color: var(--color-theme-dark-light);
    transition: 0.15s;
}

.navbar-color-purple {
    background-color: var(--color-theme-purple);
    transition: .2s ease all;
}
.navbar-color-blue {
    background-color: var(--color-theme-blue);
    transition: .2s ease all;
} 
.navbar-color-green {
    background-color: var(--color-theme-green);
    transition: .2s ease all;
}
.navbar-color-red {
    background-color: var(--color-theme-red);
    transition: .2s ease all;
}
.navbar-color-white {
    background-color: var(--color-theme-red);
    transition: .2s ease all;
}
.navbar-color-dark {
    background-color: var(--color-theme-dark);
    transition: .2s ease all;
}


/* NAVRBAR INCLUDED COLORS */
.navbar-color-purple {
    background-color: var(--color-theme-purple);
    transition: .2s ease all;
}
.navbar-color-blue {
    background-color: var(--color-theme-blue);
    transition: .2s ease all;
} 
.navbar-color-green {
    background-color: var(--color-theme-green);
    transition: .2s ease all;
}
.navbar-color-red {
    background-color: var(--color-theme-red);
    transition: .2s ease all;
}
.navbar-color-white {
    background-color: var(--color-theme-red);
    transition: .2s ease all;
}
.navbar-color-dark {
    background-color: var(--color-theme-dark);
    transition: .2s ease all;
}
.navbar-color-transparent-white {
    background-color: rgba(0,0,0,0);
    transition: .2s ease all;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.18);
}
.navbar-color-transparent-red {
    background-color: rgba(0,0,0,0);
    transition: .2s ease all;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.18);
}
.navbar-color-transparent-blue {
    background-color: rgba(0,0,0,0);
    transition: .2s ease all;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.18);
}
.navbar-color-transparent-purple {
    background-color: rgba(0,0,0,0);
    transition: .2s ease all;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.18);
}
.navbar-color-transparent-green {
    background-color: rgba(0,0,0,0);
    transition: .2s ease all;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.18);
}
.navbar-color-transparent-dark {
    background-color: rgba(0,0,0,0);
    transition: .2s ease all;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.18);
}

.navbar-color-transparent-white-fill {
    background-color: var(--color-white) !important;
    transition: .2s ease all;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.16) !important;
}
.navbar-color-transparent-red-fill {
    background-color: var(--color-theme-red) !important;
    transition: .2s ease all;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.16) !important;
}
.navbar-color-transparent-blue-fill {
    background-color: var(--color-theme-blue) !important;
    transition: .2s ease all;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.16) !important;
}
.navbar-color-transparent-purple-fill {
    background-color: var(--color-theme-purple) !important;
    transition: .2s ease all;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.16) !important;
}
.navbar-color-transparent-green-fill {
    background-color: var(--color-theme-green) !important;
    transition: .2s ease all;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.16) !important;
}
.navbar-color-transparent-dark-fill {
    background-color: var(--color-theme-dark) !important;
    transition: .2s ease all;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.16) !important;
}

/* SEARCH */
.navbar-element {
    margin-top: -2px;
    padding-left: 20px;
    padding-right: 30px;
}

@media screen and (max-width: 720px) {
    .navbar-links {
        visibility: hidden;
        display: none;
    }
    .navbar-links-mobile {
        visibility: visible;
    }
    .navbar-button-center-y {
        margin-top: 22px;
        font-size: 75%;
    }
    .navbar-title {
        font-size: 32px !important;
        padding-top: 20px !important;
    }
    .navbar-icon {
        display: none;
    }
    .navbar-heading {
        padding-left: 34px;
    }
    .navbar-element {
        padding-right: 25px;
    }
}
