/*
AUTHOR: ALEX COLLYER (alex.collyer@getsimpli.co.uk)
*/

.form {
    margin: 20px 10px 26px 10px;
}
.f-card {
    width: 95%;
}

.form label {
    margin: 0px 0px 8px 0px;
}
.f-label {
    padding: 18px 6px 2px 6px;
    display: inline-block;
    font-size: 18px;
    color: rgba(25, 25, 26, 0.87);
}
.form input:checked  {
    background-color: var(--color-dark-grey);
}
.f-input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    margin: 8px 2px 8px 2px;
    background-color: rgba(14, 14, 14, 0.08);
}
.f-radio {
    margin: 12px 4px 12px 4px;
}
.f-button {
    border-radius: 8px;
    padding: 10px;
    margin: 14px 12px 8px 2.5px;
    border: none;
    background-color: var(--color-theme-blue);
    transition: 0.2s ease all;
    cursor: pointer;
    display: block;
}
.f-button:hover {
    background-color: var(--color-theme-blue-dark);
}